<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="com.mobichill.justconcentration.ALARM_PERMISSION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".base.application.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JustConcentration"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity
            android:name=".view.AchievementsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ViewStatsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.JustConcentration" />
        <activity
            android:name=".view.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.SearchTasksActivity"
            android:exported="false" />
        <activity
            android:name=".view.NewOrEditTaskActivity"
            android:exported="false" />
        <activity
            android:name=".view.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ConcentrationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ConcentrateSetupActivity"
            android:exported="false" />
        <activity
            android:name=".view.PrivacyConsentActivity"
            android:exported="false" />
        <activity
            android:name=".view.TaskActivity"
            android:exported="false" />
        <activity
            android:name=".view.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.language.LanguageActivity"
            android:exported="false" />

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="true"
            android:permission="com.mobichill.justconcentration.ALARM_PERMISSION" />
        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SnoozeReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.mobichill.justconcentration.SNOOZE_PERMISSION" />
        <receiver
            android:name=".receiver.DismissReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receiver.NotificationActionReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.AlarmService"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".service.FocusService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false" >
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove"/>
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9156563357147909~2500724575" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>